<app-top-menu></app-top-menu>
<main class="container">
    <div class="row mb-2">
        <div class="col-md-12" *ngFor="let blog of blogs">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="d-inline-block ">
                        <small class="mb-2">Blog ID:</small> <small class="mb-2 text-primary"> {{blog.id}}</small>
                    </div>
                    <h3 class="mb-0">{{blog.title}}</h3>
                    <div class="mb-1 text-muted">{{blog.published_at |date:'MMM d, y'}}</div>
                    <p class="card-text mb-auto">{{blog.content| slice:0:355}}</p>
                    <!-- <a class="stretched-link" (click)="routeBlog(blog.id)">Continue reading</a> -->
                    <div class="row">
                        <div class="col-4">
                            <a class="btn btn-sm btn-outline-warning w-25 me-2" (click)="routeBlog()">Create</a>
                            <a class="btn btn-sm btn-outline-secondary w-25 me-2" (click)="routeBlog(blog.id)">Edit</a>
                            <a class="btn btn-sm btn-outline-danger w-25 me-2" (click)="deleteBlog(blog.id)">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250"
                        [src]="blog.image!= null ? 'https://ngx-training.com'+blog.image?.url : '../assets/images/no-image.png'"
                        alt="{{blog.image?.name}}">
                </div>
            </div>
        </div>
    </div>

</main>